$theme-colors: ( //
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan //
);

// 引数の1つ目と2つ目にマージしたいマップを指定
$theme-colors: map-merge(( //
    'twitter': #53A7E8,
    'elgana': #e83929,
    'elgana-light': #fcf7e6,
    'facebook': #4064AD,
    'tiktok': #F6305D //
  ), $theme-colors);

// テキストカラーを黒系にするか白系にするかを決める境界値
$yiq-contrasted-threshold: 160;

// border-*
$i: 1;

@while $i <=5 {
  .border-#{$i} {
    border-style: solid;
    border-top-width: 0px+(1px * $i) !important;
    border-right-width: 0px+(1px * $i) !important;
    border-bottom-width: 0px+(1px * $i) !important;
    border-left-width: 0px+(1px * $i) !important;
  }

  $i: $i+1;
}

// img-*
$imgWH: 4;

@while $imgWH <=72 {
  .img-#{$imgWH} {
    width: 0px+(1px * $imgWH) !important;
    height: 0px+(1px * $imgWH) !important;
  }

  $imgWH: $imgWH+1;
}

// opc-*
$opc: 1;

@while $opc <=10 {
  .opc-#{$opc} {
    opacity: 0+(0.1 * $opc) !important;
  }

  $opc: $opc+1;
}

.js-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  background: #fff;
  transition: opacity .8s, visibility .8s;
  z-index: 10000;
  .is-loaded & {
    visibility: hidden;
    opacity: 0;
  }
}

.js-loader-progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 3px;
  .is-loaded & {
    visibility: hidden;
    opacity: 0;
  }
}
.js-loader-progress-bar {
  background: #000;
  height: 100%;
  width: 0;
  transition: width .4s;
}
.js-loader-progress-number {
  text-align: center;
  font-size: 16px;
  width: 100%;
  margin-top: 16px;
}