body {
  background-color: #fff;
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857142857143;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  text-decoration-skip-ink: auto;
}

body,
div,
pre,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
th,
td {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.4;
  margin-bottom: 0;
}

*:focus,
*:active {
  outline: none !important;
  box-shadow: none !important;
}

a:hover {
  text-decoration: none;
}

.btn-link.focus,
.btn-link:focus {
  text-decoration: none !important;
}

.btn:hover {
  text-decoration: none !important;
}

/* スライダー */
.slider-wrapper {
  max-width: 400px;
  margin: 0 auto;
}

.slider-main {
  position: relative;
  background-color: #f7f7f7;
}

.slider-main::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.slider-main .inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.slider-main img.main-image {
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.slider-main img.arrow {
  width: 16px;
  height: 16px;
}

.thumbnail {
  cursor: pointer;
}

.thumbnail-box {
  position: relative;
  height: 80px;
  width: 80px;
  overflow: hidden;
}

.thumbnail-box img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.thumbnail-box:hover {
  opacity: 0.4;
}

.thumbnail-box.current {
  opacity: 0.4;
}

.thumbnail-box.current .thumbnail {
  cursor: inherit;
}

#prev,
#next {
  z-index: 1000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: .6;
  height: 100%;
  padding: 6px;
}

#prev:hover,
#next:hover {
  opacity: .6;
  background-color: #f5f5f5;
  cursor: pointer;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

/* モーダル */
.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.9);
  pointer-events: none;
  opacity: 0;
  transition: 0.25s ease-out;
}

.modal-wrapper.show {
  opacity: 1;
  pointer-events: all;
}

.modal-inner {
  width: 100%;
  max-width: 860px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-image {
  position: absolute;
  max-width: 720px;
  max-height: 720px;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  opacity: 0;
  transition: 0.5s ease-out;
}

#modal-image-prev,
#modal-image-next {
  z-index: 2001;
  height: 70%;
}

.modal-image.show {
  opacity: 1;
}

.modal-control {
  position: absolute;
  top: 0px;
  right: 0px;
}

.cnt {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}

/* 大デバイス（デスクトップ, 992px以上） */
@media (min-width: 992px) {}

/* 中デバイス（タブレット, 992px 未満） */
@media (max-width: 991.98px) {}

/* 小デバイス（横向きモバイル, 768px 未満） */
@media (max-width: 767.98px) {
  .modal-image {
    max-width: 100%;
    height: auto;
}
}

/* 極小デバイス（縦向きモバイル, 576px 未満） */
@media (max-width: 575.98px) {}

/* IEハック */
.col {
  flex: 1 0 auto;
}

/* タッチデバイスにおいてズームを防ぐ */
a,area,button,[role="button"],input:not([type=range]),
label,select,summary,textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}